@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Roboto';
}

body{
    width:100vw;
    height:100vh;
    overflow:hidden;
}

.student{
height: 0;
width: 40vh;
transition: .5s ease-in-out;
background-color: white;
border:1px solid black
}

.show{
    height: 40vh;
}

button{
    padding:1;
}

header{
    height:10vh;
    background:black;
    display:grid;
    place-items: center;
    color:white;
}

main{
    position:relative;
    height:90vh;
    overflow:hidden;
    display: grid;
    place-items: center;
}
h2{
    padding-top:1rem;
    text-align:center;
}

canvas{
    position:absolute;
    bottom:0;
}