*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px,1fr));
    gap: 1rem;
    padding: 1rem;
}

img{
    width: 100%;
}