*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    height: 20vh;
    display: grid;
    place-items: center;
}

#title{
    border-bottom: .5rem solid hotpink;
}

main{

}

footer{

}